.morseChart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 10%;
}

.morseChart > p {
  border: 1px solid #1967D2;
  background: #1967D2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PT sans', sans-serif;
  border-radius: 5px;
  width: 50px;
}