.translation {
  font-family: 'PT sans', sans-serif;
  background-color: #1967D2;
  display: flex;
  justify-content: center;
  padding: 10% 10%;
  margin: 25px 25%;
  align-items: center;
  color: white;
  border-radius: 5px;
}

.translationMorse {
  font-family: 'PT sans', sans-serif;
  background-color: #1967D2;
  display: flex;
  justify-content: center;
  padding: 10% 10%;
  margin: 25px 25%;
  align-items: center;
  color: white;
  border-radius: 5px;
}